import type { Metadata } from 'next'
import { Inter } from 'next/font/google'
import './globals.css'

const inter = Inter({ subsets: ['latin'] })

export const metadata: Metadata = {
  title: 'ONE BLANK | 영구적 인지 보호 시스템',
  description: '상위 0.1%를 위한 하이엔드 인지적 아웃소싱 시스템',
}

export default function RootLayout({
  children,
}: {
  children: React.ReactNode
}) {
  return (
    <html lang="ko" className="bg-[#050505]">
      <body className={`${inter.className} bg-[#050505] text-white antialiased selection:bg-[#C2A35D] selection:text-black min-h-screen flex flex-col`}>
        {children}
      </body>
    </html>
  )
}
